.navigation__list {
    list-style: none;
    border-bottom: 2px solid hsl(207, 78%, 32%);
    border-top: 2px solid hsl(207, 78%, 32%);
    padding: 15px 0;
    text-align: right;
}

.navigation__listItem {
    margin: 10px 0;
}

.navigation__link {
    text-decoration: none;
    color: hsl(207, 78%, 32%);
    font-weight: bold;
}

.navigation__link:hover {
    color: hsl(207, 89%, 21%);
}

.navigation__link:active {
    color: hsl(207, 96%, 10%);
}